
.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    line-height: 0.9;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.nav-a-i {
    margin-right: 5px !important;
}
